<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pre.ysl.mapper.CollegeMapper">
  <resultMap id="BaseResultMap" type="pre.ysl.pojo.College">
    <constructor>
      <idArg column="cid" javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="cName" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cAddress" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="cState" javaType="java.lang.Integer" jdbcType="INTEGER" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cid, cName, cAddress, cState
  </sql>
  <select id="selectByExample" parameterType="pre.ysl.pojo.CollegeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from college
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from college
    where cid = #{cid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from college
    where cid = #{cid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="pre.ysl.pojo.CollegeExample">
    delete from college
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="pre.ysl.pojo.College">
    <selectKey keyProperty="cid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into college (cName, cAddress, cState
      )
    values (#{cname,jdbcType=VARCHAR}, #{caddress,jdbcType=VARCHAR}, #{cstate,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="pre.ysl.pojo.College">
    <selectKey keyProperty="cid" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into college
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cname != null">
        cName,
      </if>
      <if test="caddress != null">
        cAddress,
      </if>
      <if test="cstate != null">
        cState,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cname != null">
        #{cname,jdbcType=VARCHAR},
      </if>
      <if test="caddress != null">
        #{caddress,jdbcType=VARCHAR},
      </if>
      <if test="cstate != null">
        #{cstate,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="pre.ysl.pojo.CollegeExample" resultType="java.lang.Long">
    select count(*) from college
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update college
    <set>
      <if test="record.cid != null">
        cid = #{record.cid,jdbcType=INTEGER},
      </if>
      <if test="record.cname != null">
        cName = #{record.cname,jdbcType=VARCHAR},
      </if>
      <if test="record.caddress != null">
        cAddress = #{record.caddress,jdbcType=VARCHAR},
      </if>
      <if test="record.cstate != null">
        cState = #{record.cstate,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update college
    set cid = #{record.cid,jdbcType=INTEGER},
      cName = #{record.cname,jdbcType=VARCHAR},
      cAddress = #{record.caddress,jdbcType=VARCHAR},
      cState = #{record.cstate,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="pre.ysl.pojo.College">
    update college
    <set>
      <if test="cname != null">
        cName = #{cname,jdbcType=VARCHAR},
      </if>
      <if test="caddress != null">
        cAddress = #{caddress,jdbcType=VARCHAR},
      </if>
      <if test="cstate != null">
        cState = #{cstate,jdbcType=INTEGER},
      </if>
    </set>
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="pre.ysl.pojo.College">
    update college
    set cName = #{cname,jdbcType=VARCHAR},
      cAddress = #{caddress,jdbcType=VARCHAR},
      cState = #{cstate,jdbcType=INTEGER}
    where cid = #{cid,jdbcType=INTEGER}
  </update>
  <select id="selectByExampleWithRowbounds" parameterType="pre.ysl.pojo.CollegeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from college
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>