.line{
    margin-top: 20px;
}
.line  input{
    width: 100%;
    font-size: 15px;
    margin-bottom: 10px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 5px;
}
.line>div{
    font-size: 15px;
    text-align: right;
    line-height: 40px;
}
.line>div:nth-child(1){
    color: #9d9d9d;
}
.mid{
    padding-left: 300px;
    padding-right: 300px;
}
.mid div{
    padding: 0;
}
.img>img{
    width: 60%;
    margin-left: 150px;
    margin-top: 30px;
    -webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(250, 250, 250, 0.5)));
}
.headLine{
    color: #ff6644;
    font-size: 30px;
    margin-bottom: 25px;
    margin-top: 50px;
}
.Line{
    color: #ff6644;
    font-size: 20px;
    margin-bottom: 25px;
    margin-left: 30px;
}

.line>div:nth-child(3){
    color: red;
    text-align: left;
    padding-left: 10px;
}
.line select{
    height: 40px;
    width: 100%;
    border-radius: 5px;
}
.buttom{
    width: 100%;
    background-color: #ff6644;
    height: 40px;
    line-height: 40px;
    color: white;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 50px;
}

.server>div{
    border: 1px solid #999;
    text-align: center;
    border-radius: 5px;

    }
.add{
    color: #9d9d9d;
}
.server li div{
    padding-left: 10px;
    padding-right: 10px;
}
.server input{
    border: 1px #9d9d9d dashed;
}
.server ul{
    list-style: none;
    margin: 0;
}
#add{
    cursor: pointer;
}
#prideAdd{
    cursor: pointer;
}